<section class="rawt-section">
    <div class="container">
      <h1 class="tour-title mb-4">Rock Apocalypse World Tour 2025</h1>
  
      <div class="row g-4">
        <% concerts.forEach(concert => { %>
          <div class="col-md-6 col-lg-4">
            <div class="card h-100 text-center p-3">
              <h5 class="card-title"><%= concert.ville %></h5>
              <ul>
                <li><i class="fa-solid fa-calendar-days"></i> <%= concert.date.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' }) %></li>
                <li><i class="fa-solid fa-location-dot"></i> <%= concert.salle %></li>
                <li><i class="fa-solid fa-location-dot"></i> <%= concert.prix %>€</li>
                <li>
                  <% if (session && session.userId) { %>
                    <a href="/reservation?concert=<%= concert.id %>" class="btn btn-secondary mt-2">Réserver</a>
                  <% } else { %>
                    <span class="text-danger">Vous devez vous connecter pour réserver</span>
                  <% } %>
                </li>
                <% if (typeof session !== 'undefined' && session.role === 'admin') { %>
                  <a class="btn btn-secondary mt-2" href="/modifier-concert/<%= concert.id %>">Modifier concert</a>
                <% } %>
              </ul>
            </div>
          </div>
        <% }) %>
      </div>
      
    </div>
  </section>